.score-container {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 30px;
}

.score-container p {
  margin: 10px 10px;
}

.hit-value {
  color: green;
}

.miss-value {
  color: red;
}

.left-value {
  color: #7F00FF;
}