.main-container {
  margin: 20px 100px;
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 100%;
  justify-content: center;
}

.difficulty-container {
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 100%;
  justify-content: center;
}

label {
  margin-right: 30px;
}

.start-button-container {
  margin-top: 20px;
  display: flex;
  flex: 0 0 100%;
  justify-content: center;
}

.start-stop-button {
  background-color: white;
  border: 2px solid #7F00FF;
  border-radius: 5px;
  color: #7F00FF;
  padding: 10px 15px;
  font-size: 20px;
  transition: 300ms ease-in-out all;
}

.start-stop-button:hover {
  background-color: #7F00FF;
  color: white;
}

.number-display-container {
  display: flex;
  flex: 0 0 100%;
  justify-content: center;
  font-size: 40px;
}

.input-container {
  display: flex;
  flex: 0 0 100%;
  justify-content: center;
  margin-top: 10px;
}

.letter-input {
  padding: 20px;
  transition: 300ms ease-in-out all;
}

.letter-input:focus::placeholder {
  color: transparent;
}

.letter-input,
.letter-input::-webkit-input-placeholder {
    font-size: 16px;
}

.letters {
  display: flex;
  flex: 0 0 100%;
  justify-content: center;
}

.letters-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
